<template>
  <v-container>
    <v-row>
      <v-col md="6" offset-md="3">
        <form>
          <v-row>
            <v-col md="12">
              <v-text-field
              v-model="form.mail"
              :error-messages="emailErrors"
              label="メールアドレス"
              >
              </v-text-field>
            </v-col>
            <v-col md="12">
              <v-text-field
              v-model="form.accomodationname"
              :error-messages="accomodationnameErrors"
              label="宿泊施設名"
              >
              </v-text-field>
            </v-col>
            <v-col md="12">
              <v-text-field
              v-model="form.tel"
              :error-messages="telErrors"
              label="電話番号"
              >
              </v-text-field>
            </v-col>
            <v-col md="12">
              <v-text-field
              v-model="form.passwd"
              :error-messages="passwdErrors"
              label="パスワード"
              type="password"
              >
              </v-text-field>
            </v-col>
            <v-col md="12">
              <v-text-field
              v-model="form.passwdconfirm"
              :error-messages="passwdErrors"
              type="password"
              label="パスワード確認"
              >
              </v-text-field>
            </v-col>
            <v-col md="12" style="text-align: center;">    
              <v-btn @click="resister">
                施設登録
              </v-btn>
            </v-col>
          </v-row>
        </form>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{msg}}</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="toControl">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, email } from 'vuelidate/lib/validators'
import axios from 'axios'

export default {
  validations: {
    form: {
      mail: { required, email },
      passwd: { required },
      accomodationname: { required },
      tel: { required }
    }
  },
  mixins: [validationMixin],
  computed: {
    accomodationnameErrors() {
      const errors = []
      if(!this.$v.form.accomodationname.required) errors.push('Accomodation Name is required')
      return errors
    },
    emailErrors () {
      const errors = []
      if(!this.$v.form.mail.email) errors.push('Must be valid e-mail')
      if(!this.$v.form.mail.required) errors.push('E-mail is required')
      return errors
    },
    telErrors () {
      const errors = []
      if(!this.$v.form.tel.required) errors.push('tel is required')
      return errors
    },
    passwdErrors () {
      const errors = []
      if(this.form.passwd.length < 8) errors.push('Password is more than 8 characters')
      if(!this.$v.form.passwd.required) errors.push('Password is required')
      if(this.form.passwd != this.form.passwdconfirm) errors.push('Password not match password confirm')
      return errors
    }
  },
  
  data: () => ({
    form: {
      accomodationname: '',
      mail: '',
      tel: '',
      passwd: '',
      passwdconfirm: ''
    },
    msg: '',
    dialog: false,
    ok: false
  }),
  methods: {
    resister() {
      if (!this.submitValidate()){
        let params = new URLSearchParams()
        params.append("data", JSON.stringify(this.form))
        axios.post('/hamahakuaccomodation/service/signup', params).then(res => {
          let data = res.data
          if (data.Ok) {
            this.msg = '登録が完了しました。'
            this.dialog = true
            this.ok = true
            // ログイン情報を追記
            this.$store.commit("login", data.Sessid)
          }else {
            this.msg = '既に登録されてあるメールアドレスは登録できません。'
            this.dialog = true
          }
        })
      }else{
        this.dialog = true
        this.msg = '入力不備があります。'
      }
    },
    submitValidate() {
      var valid = false
      if(!this.$v.form.accomodationname.required) valid = true
      if(!this.$v.form.mail.email) valid = true
      if(!this.$v.form.mail.required) valid = true
      if(!this.$v.form.tel.required) valid = true
      if(this.form.passwd.length < 8) valid = true
      if(!this.$v.form.passwd.required) valid = true
      if(this.form.passwd != this.form.passwdconfirm) valid = true
      return valid
    }
    ,
    toControl() {
      if (this.ok) {
        this.$router.push({ path: '/logged/control' })
      }else{
        this.dialog = false
      }
    }
  }
}
</script>

<style>

</style>