<template>
  <div>
    <v-row>
      <v-col md="12">
        <v-toolbar color="#c8f0f0">
          <v-toolbar-title>
            HAMA泊 宿泊施設
          </v-toolbar-title>
          <v-spacer />
          <v-toolbar-items>
            <v-btn color="#000000" @click="back" text>もどる</v-btn>
            <v-btn color="#000000" @click="explain" text>HAMA泊とは</v-btn>
          </v-toolbar-items>
        </v-toolbar>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  methods: {
    back() {
      this.$router.push({ path: '/login' })
    },
    explain() {
      this.$router.push({ path: '/explain' })
    }
  }
}
</script>

<style>

</style>