<template>
  <v-container>
    <v-row>
      <v-col md="12">
        <h1>施設写真</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col md="12">
        <hooper>
          <slide v-for="images in imgsrc" :key="images">
            <v-row>
              <v-col md="3" v-for="image in images" :key="image">
                <v-img
                :src="image"
                aspect-ratio="1"
                class="grey lighten-2"
                max-width="300"
                max-height="175">
                </v-img>
              </v-col>
            </v-row>
          </slide>
        </hooper>
      </v-col>
    </v-row>
    <form enctype="multipart/form-data">
      <v-row>
        <v-col md="12" style="text-align: center;">
          <v-file-input
          v-model="file"
          label="写真の追加"
          accept="image/*"
          type="file"
          ></v-file-input>
          <p style="text-align: right;">更新されない場合はリロードしてください</p>
        </v-col>
      </v-row>
      <v-col md="12" style="text-align: center;">
        <v-btn @click="adddata">追加</v-btn>
      </v-col>
    </form>
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{msg}}</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="offdialog">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { Hooper, Slide } from 'hooper'
import 'hooper/dist/hooper.css'
import axios from 'axios'

export default {
  created() {
    let params = new FormData()
    axios.post("/hamahakuaccomodation/service/getimg", params).then(res => {
      this.updateimgs(res)
    })
  },
  data() {
    return {
      block: 0,
      itr: 0,
      imgsrc: [[]],
      uploadimg: '',
      dialog: false,
      msg: '',
      source: [
        ['https://picsum.photos/id/11/500/300', 'https://picsum.photos/id/11/500/300', 'https://picsum.photos/id/11/500/300', 'https://picsum.photos/id/11/500/300'],
        ['https://picsum.photos/id/11/500/300', 'https://picsum.photos/id/11/500/300', 'https://picsum.photos/id/11/500/300', 'https://picsum.photos/id/11/500/300']
      ]
    }
  },
  components: {
    Hooper,
    Slide
  },
  methods: {
    adddata() {
      let params = new FormData()
      params.append("img", this.file)
      axios.post("/hamahakuaccomodation/service/imgstore", params).then(res => {
        this.updateimgs(res)
        this.dialog = true
        this.msg = '画像の登録しました。'
      })
    },
    updateimgs(res) {
      this.imgsrc = [[]]
      let rentid = res.data.Rentid
      let num = res.data.Num
      let block = 0
      let elm = -1
      for(let i = 0; i < num; i++){
        let ary = this.imgsrc[block]
        let val = i + 1
        if(elm == 3){
          block++
          elm = 0
          this.imgsrc.push(["/hamahakuaccomodation/data/" + rentid + "/" + val + ".jpg"])
        }else{
          ary.push("/hamahakuaccomodation/data/" + rentid + "/" + val + ".jpg")
          this.imgsrc[block] = ary
          elm++
        }
      }
    },
    offdialog() {
      this.dialog = false
    }
  }
}
</script>

<style>

</style>