<template>
  <v-container>
    <h1>{{name}}</h1>
    <v-row>
      <v-col md="12">
        <form>
          <v-card style="padding: 15px;">
            <h1>施設機能項目 (当てはまるものには全てチェックを入れてください)</h1>
            <v-row>
              <v-col md="3">
                <v-checkbox
                v-model="form.Onehouse"
                label="一棟貸し"
                >
                </v-checkbox>
              </v-col>
              <v-col md="3">
                <v-checkbox
                v-model="form.Japaneseroom"
                label="和室"
                >
                </v-checkbox>
              </v-col>
              <v-col md="3">
                <v-checkbox
                v-model="form.Bedtype"
                label="ベッドタイプ"
                >
                </v-checkbox>
              </v-col>
              <v-col md="3">
                <v-checkbox
                v-model="form.Wifi"
                label="Wi-Fi"
                >
                </v-checkbox>
              </v-col>
              <v-col md="3">
                <v-checkbox
                v-model="form.Guesthouse"
                label="ゲストハウス"
                >
                </v-checkbox>
              </v-col>
              <v-col md="3">
                <v-checkbox
                v-model="form.Japaneseroom6"
                label="和室 (6人部屋)"
                >
                </v-checkbox>
              </v-col>
              <v-col md="3">
                <v-checkbox
                v-model="form.Singleroom"
                label="個室(女性のみ)"
                >
                </v-checkbox>
              </v-col>
              <v-col md="3">
                <v-checkbox
                v-model="form.Kitchen"
                label="簡易キッチン"
                >
                </v-checkbox>
              </v-col>
              <v-col md="3">
                <v-checkbox
                v-model="form.Kayabuki"
                label="茅葺き施設"
                >
                </v-checkbox>
              </v-col>
              <v-col md="3">
                <v-checkbox
                v-model="form.Japaneseroom1"
                label="和室(シングル利用)"
                >
                </v-checkbox>
              </v-col>
              <v-col md="3">
                <v-checkbox
                v-model="form.Shower"
                label="シャワー"
                >
                </v-checkbox>
              </v-col>
              <v-col md="3">
                <v-checkbox
                v-model="form.Aircon"
                label="エアコン"
                >
                </v-checkbox>
              </v-col>
              <v-col md="3">
                <v-checkbox
                v-model="form.Kawarabuki"
                label="瓦葺き"
                >
                </v-checkbox>
              </v-col>
              <v-col md="3">
                <v-checkbox
                v-model="form.Japaneseroom3"
                label="和室 (3人部屋女性のみ)"
                >
                </v-checkbox>
              </v-col>
              <v-col md="3">
                <v-checkbox
                v-model="form.Bath"
                label="風呂"
                >
                </v-checkbox>
              </v-col>
              <v-col md="3">
                <v-checkbox
                v-model="form.Tv"
                label="テレビ"
                >
                </v-checkbox>
              </v-col>
            </v-row>
            <v-row>
              <v-col md="12">
                <h1>考慮項目(当てはまるものには全てチェックを入れてください)</h1>
              </v-col>
              <v-col md="6">
                <v-checkbox
                v-model="form.Floor"
                label="寝所が一階にある"
                ></v-checkbox>
              </v-col>
              <v-col md="6">
                <v-checkbox
                v-model="form.Reserved"
                label="貸し切り可能"
                ></v-checkbox>
              </v-col>
              <v-col md="6">
                <v-checkbox
                v-model="form.Near"
                label="受付と寝所が近い"
                ></v-checkbox>
              </v-col>
              <v-col md="6">
                <v-checkbox
                v-model="form.Traincamp"
                label="合宿可能"
                ></v-checkbox>
              </v-col>
              <v-col md="6">
                <v-checkbox
                v-model="form.Domitory"
                label="ドミトリー形式"
                ></v-checkbox>
              </v-col>
              <v-col md="6">
                <!--
                <v-checkbox
                v-model="form.kominkan"
                label="公民館"
                ></v-checkbox>
                -->
              </v-col>
              <v-col md="12">
                <h1>施設紹介文</h1>
              </v-col>
              <v-col md="12">
                <v-textarea
                v-model="form.Explain"
                outlined
                no-resize
                ></v-textarea>
              </v-col>
              <v-col md="12">
                <h1>宿泊プラン</h1>
              </v-col>
              <v-col md="3" style="text-align: center;">
                <v-row>
                  <v-col md="12">
                    <v-btn @click="addplan">宿泊プランの追加</v-btn>
                  </v-col>
                  <v-col md="12">
                    <v-btn v-if="plannum > 0" @click="delplan">宿泊プランの削除</v-btn>
                  </v-col>
                </v-row>
              </v-col>
              <v-col md="9">
                <v-row v-for="num in plannum" :key="num">
                  <v-col md="2">
                    <v-checkbox v-model="form.plancheck[num  - 1]"></v-checkbox>
                  </v-col>
                  <v-col md="10">
                    <v-text-field
                    v-model="form.Plans[num - 1]">
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col md="12" style="text-align: center;">
                <v-btn @click="submitForm">登録</v-btn>
              </v-col>
            </v-row>
          </v-card>
        </form>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{msg}}</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="offdialog">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios'
export default {
  created() {
    var params = new URLSearchParams()
    axios.post('/hamahakuaccomodation/service/getOption', params).then(res => {
      this.form.Onehouse = res.data.Onehouse
      this.form.Japaneseroom = res.data.Japaneseroom
      this.form.Bedtype = res.data.Bedtype
      this.form.Wifi = res.data.Wifi
      this.form.Guesthouse = res.data.Guesthouse
      this.form.Japaneseroom6 = res.data.Japaneseroom6
      this.form.Singleroom = res.data.Singleroom
      this.form.Japaneseroom1 = res.data.Japaneseroom1
      this.form.Kitchen = res.data.Kitchen
      this.form.Kayabuki = res.data.Kayabuki
      this.form.Kawarabuki = res.data.Kawarabuki
      this.form.Aircon = res.data.Aircon
      this.form.Japaneseroom3 = res.data.Japaneseroom3
      this.form.Shower = res.data.Shower
      this.form.Bath = res.data.Bath
      this.form.Tv = res.data.Tv
      this.form.Floor = res.data.Floor
      this.form.Reserved = res.data.Reserved
      this.form.Near = res.data.Near
      this.form.Traincamp = res.data.Traincamp
      this.form.Domitory = res.data.Domitory
      this.form.Explain = res.data.Explain
      if (res.data.Plans != null){ 
        this.form.Plans = res.data.Plans
        this.plannum = this.form.Plans.length
        for(var i = 0; i < this.plannum; i++) {
          this.plancheck.push(false)
        }
      }
      
    })
  },
  data() {
    return {
      name: '',
      form: {
        Onehouse: false,
        Japaneseroom: false,
        Bedtype: false,
        Wifi: false,
        Guesthouse: false,
        Japaneseroom6: false,
        Singleroom: false,
        Kitchen: false,
        Kayabuki: false,
        Japaneseroom1: false,
        Shower: false,
        Aircon: false,
        Kawarabuki: false,
        Japaneseroom3: false,
        Bath: false,
        Tv: false,
        Floor: false,
        Reserved: false,
        Near: false,
        Traincamp: false,
        Domitory: false,
        Kominkan: false,
        Explain: "",
        plancheck: [false],
        Plans: ['']
      },
      dialog: false,
      plancheck: [],
      plannum: 1,
      msg: ''
    }
  },
  methods: {
    submitForm() {
      let params = new URLSearchParams()
      let data = JSON.stringify(this.form)
      params.append('data', data)
      params.append('name', this.name)
      axios.post('/hamahakuaccomodation/service/accomodationUpdate', params).then(res => {
        this.msg = '施設情報の更新をしました。'
        this.dialog = true
      }).catch(res => {

      })
    },
    addplan() {
      this.form.Plans.push('')
      this.form.plancheck.push(false)
      this.plannum++
    },
    delplan() {
      var idx = 0
      for(var item in this.form.plancheck){
        if (this.form.plancheck[item]) {
          this.form.Plans.splice(idx, 1)
          this.plannum--
        }
        idx++
      }
      for(var item in this.form.plancheck){
        this.form.plancheck[item] = false
      }
    },
    offdialog() {
      this.dialog = false
    }
  }
}
</script>

<style>

</style>