<template>
  <v-container>
    <v-row>
      <v-col md="8" offset-md="2">
        <v-card color="#c8f0f0">
          <v-row>
            <v-col md="12">
              <v-card-title>営業予定日</v-card-title>
            </v-col>
          </v-row>
        </v-card>
        <v-card>
          <v-row justify="center">
            <v-col md="6" offset-md="1">
              <v-date-picker
                color="#90CAF9"
                v-model="form.dates"
                multiple
              ></v-date-picker>
            </v-col>
            <v-col md="5">
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">Date</th>
                      <th class="text-left">Rooms</th>
                    </tr>
                  </thead>
                  <tbody style="text-align: center;">
                    <tr v-for="(date, idx) in form.dates" v-bind:key="idx">
                      <td>{{ date }}</td>
                      <td style="width: 50%;">
                        <v-text-field
                        type="number"
                        v-model="form.rooms[idx]"
                        ></v-text-field>
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-col>
          </v-row>
          <v-row>
            <v-col md="12" style="text-align: center;">
              <v-btn @click="submit">登録</v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{msg}}</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="offdialog">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  created() {
    axios.post("/hamahakuaccomodation/service/getExert", {}).then(res => {
      this.form.dates = res.data.Dates
      this.form.rooms = res.data.Rooms
      let srt = []
      for(let idx in this.form.dates){
        let tmp = this.form.dates[idx].split('/')
        this.form.dates[idx] = tmp.join('-')
        this.form.rooms[idx] = this.form.rooms[idx].toString()
        let obj = {
          date: this.form.dates[idx],
          room: this.form.rooms[idx]
        }
        srt.push(obj)
        idx++
      }
      srt.sort(function(a, b){
        return (a.date > b.date ? 1 : -1)
      })
      for(let idx in srt){
        this.form.dates[idx] = srt[idx].date
        this.form.rooms[idx] = srt[idx].room
      }
      if (this.form.dates === null && this.form.dates === null){
        this.form.dates = []
        this.form.rooms = []
      }
    })
  },
  data: () => ({
    form: {
      dates: [],
      rooms: []
    },
    menu: false,
    dialog: false
  }),
  methods: {
    submit() {
     let jsonstr = JSON.stringify(this.form)
     let params = new URLSearchParams()
     params.append('data', jsonstr)
     axios.post('/hamahakuaccomodation/service/updateopen', params).then(res => {
       this.dialog = true
       this.msg = '稼働日と部屋数を登録しました'
     })
    },
    offdialog() {
      this.dialog = false
    }
  },
  watch: {
    'form.dates': function (newv, oldv) {
      // 減った時のインデックスを取得
      var idx = 0
      var rm = false
      if (oldv.length - newv.length === 1){
        for (var i = 0; i < oldv.length; i++) {
          if (oldv[i] !== newv[i]) {
            idx = i
            rm = true
          }
          while (oldv[i] !== newv[i]) {
            i++
          }
        }
      }
      if (rm) {
        this.form.rooms.splice(idx, 1)
      }
    }
  }
}
</script>

<style>

</style>