<template>
  <v-container>
    <v-row>
      <v-col md="8" offset-md="2">
        <v-card color="#c8f0f0">
          <v-card-title>予約確定情報</v-card-title>
        </v-card>
        <v-card>
          <v-list dense  v-model="reservations">
            <v-subheader><h3>decided reservation</h3></v-subheader>
            <v-list-item-group no-action>
              <v-list-item v-for="(reservation, i) in reservations" :key="i">
                  <v-list-item-icon @click="dialog = true">
                    <v-icon>mdi-account</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content @click="showReservation(reservation)">
                    <v-list-item-title>
                      {{reservation.Name}}
                    </v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
            <v-dialog
                v-model="dialog"
                fullscreen
                hide-overlay
                transition="dialog-bottom-transition"
                scrollable
              >
                <v-card tile>
                  <v-toolbar
                    flat
                    dark
                    color="primary"
                  >
                    <v-btn
                      icon
                      dark
                      @click="dialog = false"
                    >
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>{{selectedUser.Name}}</v-toolbar-title>
                    <div class="flex-grow-1"></div>
                  </v-toolbar>
                  <v-card-text>
                    <v-list
                      three-line
                      subheader
                    >
                      <v-subheader>
                        <h1>{{selectedUser.Name}} さんの予約情報</h1>
                      </v-subheader>
                      <v-list-item>
                        <v-list-item-content>
                          <v-list-item-title><h2>{{selectedUser.Checkin}} ~ {{selectedUser.Checkout}}</h2></v-list-item-title>
                          <v-list-item-subtitle>チェックインとチェックアウトは上記の日程になります。</v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item>
                        <v-list-item-content>
                          <v-list-item-title>
                            <h2>
                              男性{{selectedUser.Man}}人
                              女性{{selectedUser.Woman}}人
                            </h2>
                            <h2>
                              部屋数
                            </h2>
                            <v-select
                            :items="rooms"
                            v-model="selectedUser.Rooms">
                            </v-select>
                          </v-list-item-title>
                          <v-list-item-subtitle>宿泊人数と部屋数が上記になります。※人数に対して部屋が多い場合、少ない場合は変更が可能です。</v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item>
                        <v-list-item-content>
                          <v-list-item-title>
                            <h2>宿泊要望、希望サービス等</h2>
                          </v-list-item-title>
                          <v-list-item-subtitle>{{selectedUser.Name}} さん宿泊の際の要望や、希望サービスは以下になります。</v-list-item-subtitle>
                          
                          <v-row>
                            <v-col md="6">
                              <v-list-item-title style="margin: 15px 15px 0px 15px;">
                                <h3>宿泊要望</h3>
                              </v-list-item-title>
                              <v-row>
                                <v-col md="4">
                                  <v-checkbox
                                  v-model="selectedUser.Weaklegs"
                                  disabled
                                  label="足腰が弱い">
                                  </v-checkbox>
                                </v-col>
                                <v-col md="4">
                                  <v-checkbox
                                  v-model="selectedUser.Reserved"
                                  disabled
                                  label="貸し切り希望">
                                  </v-checkbox>
                                </v-col>
                                <v-col md="4">
                                  <v-checkbox
                                  v-model="selectedUser.Closetoilet"
                                  disabled
                                  label="トイレが近く">
                                  </v-checkbox>
                                </v-col>
                                <v-col md="4">
                                  <v-checkbox
                                  v-model="selectedUser.Traincamp"
                                  disabled
                                  label="合宿希望">
                                  </v-checkbox>
                                </v-col>
                                <v-col md="4">
                                  <v-checkbox
                                  v-model="selectedUser.Weakheart"
                                  disabled
                                  label="心臓等不安">
                                  </v-checkbox>
                                </v-col>
                                <v-col md="4">
                                  <v-text-field
                                  v-model="selectedUser.other"
                                  disabled
                                  label="その他">
                                  </v-text-field>
                                </v-col>
                              </v-row>
                            </v-col>
                            <v-col md="6">
                              <v-list-item-title style="margin: 15px 15px 0px 15px;">
                                <h3>希望サービス</h3>
                              </v-list-item-title>
                              <v-row>
                                <v-col md="4">
                                  <v-checkbox
                                  v-model="selectedUser.Alcohole"
                                  disabled
                                  label="日本酒・酒類提供">
                                  </v-checkbox>
                                </v-col>
                                <v-col md="4">
                                  <v-checkbox
                                  v-model="selectedUser.English"
                                  disabled
                                  label="英語対応">
                                  </v-checkbox>
                                </v-col>
                                <v-col md="4">
                                  <v-checkbox
                                  v-model="selectedUser.Haral"
                                  disabled
                                  label="ハラル料理">
                                  </v-checkbox>
                                </v-col>
                                <v-col md="4">
                                  <v-checkbox
                                  v-model="selectedUser.Vegan"
                                  disabled
                                  label="ヴィーガン料理">
                                  </v-checkbox>
                                </v-col>
                                <v-col md="4">
                                  <v-checkbox
                                  v-model="selectedUser.Vegetarian"
                                  disabled
                                  label="ベジタリアン料理">
                                  </v-checkbox>
                                </v-col>
                              </v-row>
                            </v-col>
                          </v-row>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list>
                    <v-divider></v-divider>
                    <v-list
                      three-line
                      subheader
                    >
                      <v-subheader><h1>予約確定メール</h1></v-subheader>
                      <v-list-item>
                        <v-list-item-content>
                          <v-list-item-title>メール内容</v-list-item-title>
                          <v-list-item-subtitle>予約確定メールの内容を編集できます。</v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item>
                        <v-list-item-content>
                          <v-btn @click="createMessage" max-width="100">定型文作成</v-btn>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item>
                        <v-list-item-content>
                          <v-textarea
                            filled
                            auto-grow
                            label="内容"
                            rows="4"
                            row-height="30"
                            v-model="selectedUser.Subject"
                            shaped
                          ></v-textarea>
                          <v-row>
                            <v-col offset-md="11">
                              <v-btn @click="sendmail(selectedUser.Mail, selectedUser.Subject)">送信</v-btn>
                            </v-col>
                          </v-row>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list>
                  </v-card-text>
                    <div style="flex: 1 1 auto;"></div>
                </v-card>
              </v-dialog>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  created() {
    axios.post('/hamahakuaccomodation/service/getreservation', {}).then(res => {
      console.log(res.data)
      this.reservations = res.data
    })
  },
  data() {
    return {
      reservations: [
      ],
      rooms: [1,2,3,4,5,6,7,8,9],
      dialog: false,
      selectedUser: {
        name: '',
        checkin: '',
        checkout: '',
        weaklegs: false,
        reservationRoom: false,
        closetoilet: false,
        traincamp: false,
        weakheart: false,
        alcohol: false,
        haral: false,
        vegan: false,
        english: false,
        vegitarian: false,
        man: 0,
        woman: 0,
        rooms: 0,
        mail: '',
      }
    }
  },
  methods: {
    showReservation(user){
      this.selectedUser = user
      this.dialog = true
    },
    createMessage() {
      var numstring = ''
      if(this.selectedUser.Man !== 0){
        numstring += '男性' + this.selectedUser.Man + '名 '
      }
      if(this.selectedUser.Woman !== 0){
        numstring += '女性' + this.selectedUser.Woman + '名'
      }
      this.selectedUser.Subject = 'この度は宿泊予約サービス浜泊をご利用いただきありがとうございます。\n \n' + 
      ' 宿泊施設と料金が決定したので、詳細を載せています。\n' +
      numstring + '\n' +
      this.selectedUser.Rooms + '部屋\n' +
      'でご案内させていただきます。\n' +
      '今後とも肥前浜と宿泊予約サービス浜泊をよろしくお願いします。'
    },
    sendMail(address, subject) {
      params = new URLSearchParams()
      params.append('address', address)
      params.append('subject', subject)
      axios('/hamahakuaccomodation/service/sendmail', params).then(res => {
      })
    }
  }
}
</script>
