<template>
  <div>
    <infoheader></infoheader>
    <exert></exert>
    <sendform></sendform>
  </div>
</template>

<script>
import header from '@/components/accomodationInfo/header'
import exert from '@/components/accomodationInfo/exert'
import form from '@/components/accomodationInfo/form'

export default {
  components: {
    'infoheader': header,
    'exert': exert,
    'sendform': form
  }
}
</script>

<style>

</style>