<template>
  <div>
    <Toolbar></Toolbar>
    <controlImage></controlImage>
    <controlmenu></controlmenu>
  </div>
</template>

<script>
import header from '@/components/control/header'
import image from '@/components/control/image'
import menu from '@/components/control/menu'
export default {
  components: {
    'Toolbar': header,
    'controlImage': image,
    'controlmenu': menu
  }
}
</script>

<style>

</style>