<template>
  <div>
    <Header></Header>
    <Form></Form>
    <AddImage></AddImage>
  </div>
</template>

<script>
import Header from '@/components/accomodationedit/header'
import Form from '@/components/accomodationedit/form'
import AddImage from '@/components/accomodationedit/addimage'
export default {
  components: {
    Header,
    Form,
    AddImage
  }
}
</script>

<style>

</style>