<template>
  <div>
    <Header />
    <LoginImage />
    <loginform />
  </div>
</template>

<script>
import header from '@/components/login/header'
import Image from '@/components/login/image'
import form from '@/components/login/form'
export default {
  components: {
    'Header': header,
    'LoginImage': Image,
    'loginform': form
  }
}
</script>

<style>

</style>