<template>
  <div>
    <Header></Header>
    <signupform></signupform>
  </div>
</template>

<script>
import header from '@/components/signup/header'
import form from '@/components/signup/form'
export default {
  components: {
    'Header': header,
    'signupform': form
  }
}
</script>

<style>

</style>