<template>
  <div>
    <v-row>
      <v-col md="12">
        <v-toolbar color="#c8f0f0">
          <v-toolbar-title>
            HAMA泊 宿泊施設
          </v-toolbar-title>
          <v-spacer />
          <v-toolbar-items>
            <v-btn color="#000000" text @click="explain">HAMA泊とは</v-btn>
            <v-btn color="#000000" text @click="logout">ログアウト</v-btn>
          </v-toolbar-items>
        </v-toolbar>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  methods: {
    explain() {
      this.$router.push({ path: '/explain' })
    },
    logout() {
      this.$store.commit('logout')
      axios.post("/hamahakuaccomodation/service/logout").then(res => {
        // ログアウト処理
        this.$router.push({ path: '/login' })
      })
    }
  }
}
</script>

<style>

</style>