<template>
  <div>
     <v-img src="https://picsum.photos/510/300?random" aspect-ratio="1.3" max-height="800">
      <v-row align="end">
        <v-col md="12">
          <div class="textcentering">Hama泊</div>
        </v-col>
      </v-row>
     </v-img>
  </div>
</template>

<script>
export default {

}
</script>


<style scoped>
.textcentering {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.5rem;
  font-size: 24px;
  color: #ffffff;
}
.subtitle {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 0rem;
  font-size: 16px;
  color: #ffffff;
}
</style>