<template>
  <v-container>
    <v-row style="text-align: center;">
      <v-col md="12">
        <h3>稼働スケジュールの更新や予約状況の確認、施設内容の変更を行えます</h3>
      </v-col>
      <v-col md="3" offset-md="3">
        <v-btn @click="toinfo">
          <v-icon>mdi-domain</v-icon>
        </v-btn>
        <p style="margin: 15px 15px 15px 15px;">予約情報</p>
      </v-col>
      <v-col md="3">
        <v-btn @click="toEdit">
          <v-icon>mdi-wrench</v-icon>
        </v-btn>
        <p style="margin: 15px 15px 15px 15px;">施設内容の変更</p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  methods: {
    toinfo() {
      this.$router.push({ path: '/logged/accomodationinfo' })
    },
    toEdit() {
      this.$router.push({ path: '/logged/accomodationedit' })
    }
  }
}
</script>

<style>

</style>