<template>
  <v-contianer>
    <v-row>
      <v-col md="6" offset-md="3">
        <form>
          <v-row>
            <v-col md="8" offset-md="2">
              <v-text-field
              v-model="mail"
              :error-messages="emailErrors"
              label="E-mail"
              required
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col md="8" offset-md="2">
              <v-text-field
              v-model="passwd"
              :error-messages="passwdErrors"
              label="Password"
              type="password"
              required
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col style="text-align: right;" offset-md="8" md="2">
              <v-btn @click="login">ログイン</v-btn>
            </v-col>
          </v-row>
        </form>
        <v-row>
          <v-col md="6" offset-md="3" style="text-align: center;">
            <p>会員登録がお済みでない方</p>
            <v-btn style="margin: 10px 10px 10px 10px;" @click="signup">施設登録画面へ</v-btn>
            <p>施設登録費、年間費は完全無料です。</p>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-contianer>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'
import axios from 'axios'


export default {
  mixins: [validationMixin],
  validations: {
    mail: { required, email },
    passwd: { required }
  },
  
  data: () => ({
    mail: '',
    passwd: ''
  }),

  computed: {
    emailErrors() {
      const errors = []
      if(!this.$v.mail.email) errors.push('Must be valid e-mail')
      if(!this.$v.mail.required) errors.push('E-mail is required')
      return errors
    },
    passwdErrors() {
      const error = []
      if (this.passwd.length < 8) error.push('password needs more than 8 charactors')
      return error
    }
  },
  methods: {
    signup() {
      this.$router.push({ path: '/signup' })
    },
    login() {
      let params = new URLSearchParams()
      params.append('mail', this.mail)
      params.append('password', this.passwd)
      axios.post('/hamahakuaccomodation/service/login', params).then(res => {
        let data = res.data
        if(data.Auth){
          this.$store.commit('login', data.Sessid)
          this.$router.push({
            path: '/logged/control'
          })
        } 
      })
    }
  }
}
</script>

<style>

</style>